@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-image: url('img/paisagee.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'BBH Hegarty', 'Rubik';
}

h1 {
    font-size: 60px;
    color: white;
    text-align: center;
}

input {
    width: 500px;
    height: 50px;
    font-size: 19px;
    padding-left: 15px;
    border: 2px solid white;
    border-radius: 50px;

    font-family: 'Ubuntu';
}

input::placeholder {
    font-size: 18px;
}

.extraBigCaixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;

    padding: 20px;
    box-sizing: border-box;
}


.bigCaixa, .bigCaixa2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enviar{
    width: 520px;
    height: 50px;
    font-size: 25px;
    padding-left: 15px;
    border: 2px solid rgb(121, 181, 199);
    border-radius: 50px;
    background-color: rgb(121, 181, 199);
    color: rgb(255, 255, 255);
}

.enviar:hover{
    background-color: rgb(73, 162, 190);
}